body{
	font-size: 16px;
	font-size: 1.6rem;
	background: #F2F2F2;
}
p,span,a{
	font-size: 1.6rem;
	line-height: 1.8rem;
}
h2,h3,h4,h5{
	font-size: 24px;
	margin: 0px 0px;
	background: #2E2A2A;
	color: #fff;
	padding: 10px 10px;
}
#header{
	margin-bottom: 10px;
	background: #A19F9F;
	padding: 10px;
}
#mainmenu ul{
	list-style: none;
}
#mainmenu ul li{
	float: left;
	margin: 5px 10px;
	padding: 10px;
}
#siderbar{
	width: 300px;
	float: left;
	margin: 10px;
	background: #929395;
	clear: left;
}
#siderbar ul{
	list-style: none;
	padding: 5px;
}
#siderbar ul li{
	margin: 5px;
	border-bottom: 1px solid #fff;
	/*一下三行通过css的方式来控制侧边栏标题字数的显示，多余部分以...代替*/
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
#news_list{
	margin: 10px 0px;
	padding:10px;
}
#news_list table tr td{
	padding: 10px;
}
#news_list table tr td img{
	max-width: 50px;
	height: 50px;
}
#news_details{
	margin: 10px auto;
	padding: 10px;
}
#news_details table img{
max-width:300px;
height:200px;
}
.news_details_title{
	font-weight: 700;
	background: #B3B0B0;
	padding: 10px;
	margin:5px 0px;
}
.pinglun{
	padding: 10px;
	margin: 10px;
}